@charset "UTF-8";
@import 'tailwindcss';

/** CSSカスタムプロパティ */
:root {
	--height-header: 80px;
	--height-footer: 40px;
	--text-primary: #374151;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial,
		'Hiragino Kaku Gothic ProN', 'Noto Sans JP', メイリオ, sans-serif;
	line-height: 1.5;
}
