@charset "UTF-8";
@import 'tailwindcss';
@layer utilities {
	/** h1 */
	h1 {
		@apply text-4xl font-bold;
	}

	/** h2 */
	.heading-two {
		counter-reset: h3-counter;
		counter-increment: h2-counter;
		@apply text-3xl m-4;
	}
	.heading-two::before {
		content: counter(h2-counter) '. ';
	}
	.heading-two--about {
		@apply bg-gray-500 text-white p-4;
	}
	.heading-two--js {
		@apply bg-yellow-300 text-black p-4;
	}
	.heading-two--ts {
		@apply bg-blue-900 text-white p-4;
	}
	.heading-two--tw {
		@apply bg-cyan-500 text-white p-4;
	}

	/** h3 */
	.heading-three {
		counter-increment: h3-counter;
		@apply text-2xl m-4 border-b border-gray-300;
	}
	.heading-three::before {
		content: counter(h2-counter) '.' counter(h3-counter) ' ';
	}

	/** h4 */
	.heading-four {
		@apply text-xl m-4 p-2 border-l-[3px] border-gray-400;
	}

	p {
		@apply p-0 ml-4;
	}

	pre {
		@apply p-0 m-4;
	}

	code {
		@apply bg-black text-white p-4 overflow-x-auto my-[0.125rem] shadow-md;
		font-family: 'Courier New', Courier, monospace;
	}

	/** links */
	a {
		@apply text-cyan-600 no-underline transition-colors duration-200 hover:text-cyan-700 hover:underline;
	}

	/** table */
	.table {
		@apply border table-fixed w-full;
	}
	th {
		@apply border p-2 text-left;
	}
	.thead-js {
		@apply bg-yellow-300;
	}
	.thead-ts {
		@apply bg-blue-900 text-white border-black;
	}
	td {
		@apply border p-2;
	}

	/** list */
	ul {
		@apply ml-4;
	}

	.list-disc {
		@apply ml-4 list-disc;
	}
}
